@font-face {
  font-family: "Arial Rounded Bold";
  src: url("fonts/Arial_Rounded_Bold.ttf");
}

body {
  background-color: #ff507f;
  color: #FFF;
  font-family: "Arial Rounded Bold";
  padding-left: 10%;
  padding-right: 10%;
}

.change-color{
  animation: backgroundPulse 40s infinite alternate !important;
}

#logo {
  margin-top: 5%;
  margin-bottom: 7%;
}

#close {
  color: #FFF;
  position: absolute;
  text-align: right;
  text-decoration: none;
  top: 15px;
  right: 15px;
}

#timer-container {
  font-size: 10vw;
}

#timer-container span {
  margin-right: 5%;
}

.timer-icon {
  width: 11%;
  padding-bottom: 2%;
  margin-right: 3%;
}

.timer-inactive {
  opacity: 0.5;
}

.timer-active {
  opacity: 1;
}

#start-btn {
  cursor: pointer;
  margin-top: 5%;
  font-size: 3vw;
  display: block;
}

#start-btn span {
  vertical-align: middle;
}

.start-icon {
  width: 4%;
  margin-right: 2%;
}

@keyframes backgroundPulse {
  0% {
    background-color: #ff507f;
  }
  25% {
    background-color: #934EF7;
  }
  50% {
    background-color: #FE5582;
  }
  75% {
    background-color: #EFAD31;
  }
  100% {
    background-color: #A6EF31;
  }
}
